.testimonial__container {
  width: 40%;
}

.client__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.client__review {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

.prev-btn,
.next-btn {
  color: var(--color-primary-variant);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: var(--color-primary);
}

/*******  MEDIA QUEREIS (MEDIUM DEVICE) ********/

@media screen and (max-width: 1024px) {
  .testimonial__container {
    width: 60%;
  }
}

/*******  MEDIA QUEREIS (SMALL DEVICE) ********/

@media screen and (max-width: 600px) {
  .testimonial__container {
    width: var(--container-width-sm);
  }
  .client__review {
    width: var(--container-width-sm);
  }
}
